In [2]:
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
import pandas as pd

In [3]:
wb = openpyxl.load_workbook("/Users/daraeremina/Downloads/assignment.xlsx")
sheet_one = wb["Tabelle1"]
sheet_two = wb["Tabelle2"]

In [4]:
df_one = pd.DataFrame(sheet_one.values)
df_two = pd.DataFrame(sheet_two.values)
df_one_col_one = df_one.get_value(0, 0)
df_one_col_two = df_one.get_value(0, 1)
df_two_col_one = df_one.get_value(0, 0)
df_two_col_two = df_one.get_value(0, 1)

In [5]:
df_one_new = df_one.rename(columns={0: df_one_col_one, 1: df_one_col_two})
df_two_new = df_two.rename(columns={0: df_two_col_one, 1: df_two_col_two})

In [6]:
all_data = pd.merge(df_one_new, df_two_new, on="Country")
result_data = all_data.drop(0).rename(columns={"Health expenditure and financing 2012, in Million US-Dollars_y": "Population"})
clean_result_data = result_data[result_data.Population != ".."]
clean_result_data

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Health expenditure and financing 2012, in Million US-Dollars_x</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Australia</td>
      <td>86542</td>
      <td>22728000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Austria</td>
      <td>39482.2</td>
      <td>8426311</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Belgium</td>
      <td>48001.9</td>
      <td>11128250</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Canada</td>
      <td>149721</td>
      <td>34880490</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Chile</td>
      <td>26275.2</td>
      <td>17402630</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Czech Republic</td>
      <td>21458.5</td>
      <td>10509290</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Denmark</td>
      <td>25727</td>
      <td>5591572</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Estonia</td>
      <td>2005.8</td>
      <td>1329301</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Finland</td>
      <td>20432.7</td>
      <td>5413000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>France</td>
      <td>267637</td>
      <td>63514000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Germany</td>
      <td>378574</td>
      <td>80425820</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Greece</td>
      <td>24509.8</td>
      <td>11090000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Hungary</td>
      <td>17105.3</td>
      <td>9920361</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Ireland</td>
      <td>21482.6</td>
      <td>4585400</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Israel</td>
      <td>17888.9</td>
      <td>7910500</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Italy</td>
      <td>193231</td>
      <td>60916200</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Japan</td>
      <td>512200</td>
      <td>127515000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Korea</td>
      <td>108399</td>
      <td>50004440</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Luxembourg</td>
      <td>3196.92</td>
      <td>530946</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Mexico</td>
      <td>117591</td>
      <td>117053800</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Netherlands</td>
      <td>85329.9</td>
      <td>16754960</td>
    </tr>
    <tr>
      <th>23</th>
      <td>New Zealand</td>
      <td>14103.6</td>
      <td>4408100</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Norway</td>
      <td>28790.4</td>
      <td>5019000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Poland</td>
      <td>56253.9</td>
      <td>38533790</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Portugal</td>
      <td>26003.2</td>
      <td>10514840</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Slovak Republic</td>
      <td>11000.2</td>
      <td>5407579</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Slovenia</td>
      <td>5178.01</td>
      <td>2056262</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Spain</td>
      <td>135742</td>
      <td>46766400</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Sweden</td>
      <td>46569.8</td>
      <td>9519374</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Turkey</td>
      <td>68919.1</td>
      <td>75175820</td>
    </tr>
    <tr>
      <th>33</th>
      <td>United Kingdom</td>
      <td>202346</td>
      <td>62858800</td>
    </tr>
    <tr>
      <th>34</th>
      <td>United States</td>
      <td>2642203</td>
      <td>314112100</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
def get_exp_per_inhab(x, y):
    return x / y

exp_per_inhab = list(clean_result_data.apply(lambda row: get_exp_per_inhab(row["Health expenditure and "
                                                              "financing 2012, "
                                                              "in Million US-Dollars_x"],
                                                          row["Population"]), axis=1))

clean_result_data.loc[:, "Health expenditure per inhabitant 2012, in Million US-Dollars"] = exp_per_inhab

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Health expenditure and financing 2012, in Million US-Dollars_x</th>
      <th>Population</th>
      <th>Health expenditure per inhabitant 2012, in Million US-Dollars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Australia</td>
      <td>86542</td>
      <td>22728000</td>
      <td>0.003808</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Austria</td>
      <td>39482.2</td>
      <td>8426311</td>
      <td>0.004686</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Belgium</td>
      <td>48001.9</td>
      <td>11128250</td>
      <td>0.004314</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Canada</td>
      <td>149721</td>
      <td>34880490</td>
      <td>0.004292</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Chile</td>
      <td>26275.2</td>
      <td>17402630</td>
      <td>0.001510</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Czech Republic</td>
      <td>21458.5</td>
      <td>10509290</td>
      <td>0.002042</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Denmark</td>
      <td>25727</td>
      <td>5591572</td>
      <td>0.004601</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Estonia</td>
      <td>2005.8</td>
      <td>1329301</td>
      <td>0.001509</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Finland</td>
      <td>20432.7</td>
      <td>5413000</td>
      <td>0.003775</td>
    </tr>
    <tr>
      <th>10</th>
      <td>France</td>
      <td>267637</td>
      <td>63514000</td>
      <td>0.004214</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Germany</td>
      <td>378574</td>
      <td>80425820</td>
      <td>0.004707</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Greece</td>
      <td>24509.8</td>
      <td>11090000</td>
      <td>0.002210</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Hungary</td>
      <td>17105.3</td>
      <td>9920361</td>
      <td>0.001724</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Ireland</td>
      <td>21482.6</td>
      <td>4585400</td>
      <td>0.004685</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Israel</td>
      <td>17888.9</td>
      <td>7910500</td>
      <td>0.002261</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Italy</td>
      <td>193231</td>
      <td>60916200</td>
      <td>0.003172</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Japan</td>
      <td>512200</td>
      <td>127515000</td>
      <td>0.004017</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Korea</td>
      <td>108399</td>
      <td>50004440</td>
      <td>0.002168</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Luxembourg</td>
      <td>3196.92</td>
      <td>530946</td>
      <td>0.006021</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Mexico</td>
      <td>117591</td>
      <td>117053800</td>
      <td>0.001005</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Netherlands</td>
      <td>85329.9</td>
      <td>16754960</td>
      <td>0.005093</td>
    </tr>
    <tr>
      <th>23</th>
      <td>New Zealand</td>
      <td>14103.6</td>
      <td>4408100</td>
      <td>0.003199</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Norway</td>
      <td>28790.4</td>
      <td>5019000</td>
      <td>0.005736</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Poland</td>
      <td>56253.9</td>
      <td>38533790</td>
      <td>0.001460</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Portugal</td>
      <td>26003.2</td>
      <td>10514840</td>
      <td>0.002473</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Slovak Republic</td>
      <td>11000.2</td>
      <td>5407579</td>
      <td>0.002034</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Slovenia</td>
      <td>5178.01</td>
      <td>2056262</td>
      <td>0.002518</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Spain</td>
      <td>135742</td>
      <td>46766400</td>
      <td>0.002903</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Sweden</td>
      <td>46569.8</td>
      <td>9519374</td>
      <td>0.004892</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Turkey</td>
      <td>68919.1</td>
      <td>75175820</td>
      <td>0.000917</td>
    </tr>
    <tr>
      <th>33</th>
      <td>United Kingdom</td>
      <td>202346</td>
      <td>62858800</td>
      <td>0.003219</td>
    </tr>
    <tr>
      <th>34</th>
      <td>United States</td>
      <td>2642203</td>
      <td>314112100</td>
      <td>0.008412</td>
    </tr>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
end_data = clean_result_data.filter(items=["Country", 
                                    "Health expenditure per inhabitant 2012, "
                                    "in Million US-Dollars"])

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Health expenditure per inhabitant 2012, in Million US-Dollars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Australia</td>
      <td>0.003808</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Austria</td>
      <td>0.004686</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Belgium</td>
      <td>0.004314</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Canada</td>
      <td>0.004292</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Chile</td>
      <td>0.001510</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Czech Republic</td>
      <td>0.002042</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Denmark</td>
      <td>0.004601</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Estonia</td>
      <td>0.001509</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Finland</td>
      <td>0.003775</td>
    </tr>
    <tr>
      <th>10</th>
      <td>France</td>
      <td>0.004214</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Germany</td>
      <td>0.004707</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Greece</td>
      <td>0.002210</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Hungary</td>
      <td>0.001724</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Ireland</td>
      <td>0.004685</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Israel</td>
      <td>0.002261</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Italy</td>
      <td>0.003172</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Japan</td>
      <td>0.004017</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Korea</td>
      <td>0.002168</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Luxembourg</td>
      <td>0.006021</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Mexico</td>
      <td>0.001005</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Netherlands</td>
      <td>0.005093</td>
    </tr>
    <tr>
      <th>23</th>
      <td>New Zealand</td>
      <td>0.003199</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Norway</td>
      <td>0.005736</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Poland</td>
      <td>0.001460</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Portugal</td>
      <td>0.002473</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Slovak Republic</td>
      <td>0.002034</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Slovenia</td>
      <td>0.002518</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Spain</td>
      <td>0.002903</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Sweden</td>
      <td>0.004892</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Turkey</td>
      <td>0.000917</td>
    </tr>
    <tr>
      <th>33</th>
      <td>United Kingdom</td>
      <td>0.003219</td>
    </tr>
    <tr>
      <th>34</th>
      <td>United States</td>
      <td>0.008412</td>
    </tr>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
my_wb = openpyxl.Workbook()
my_ws = my_wb.active

for r in dataframe_to_rows(end_data, index=False, header=True):
    my_ws.append(r)

my_wb.save("/Users/daraeremina/Downloads/assignment_result.xlsx")